<div class="container">
  <%= render 'banner' %>
  <div class="row">
    <% @cocktails.each do |cocktail| %>
    <div class="col-xs-12 col-sm-4">
      <%if cocktail.photo?%>
      <div class="card"
      style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
      url('<%= cl_image_path cocktail.photo, height: 300, width: 400, crop: :fill %>')">
      <div class="card-description"><h2><%= cocktail.name %></h2>


        <% arr = [] %>
        <% cocktail.reviews.each do |review| %>
        <% arr << review.rating %>
        <% end %>
        <% average = arr.inject{ |sum, el| sum + el }.to_f / arr.size %>
        <p class= ""> Note : <%= average %> / 5</p>
      </div>
      <%= link_to"", cocktail_path(cocktail), class: "card-link" %>
    </div>
    <%else%>
    <div class="card"
    style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
    url('https://kitt.lewagon.com/placeholder/cities/berlin')">
    <div class="card-description">
      <h2><%= cocktail.name %></h2>
    </div>
    <%= link_to"", cocktail_path(cocktail), class: "card-link" %>
  </div>
  <%end%>
</div>
<% end %>
</div>
</div>
